.whatsapp-float {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    /* hijau WA */
    color: white;
    /* ikon putih */
    border-radius: 50%;
    font-size: 24px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.whatsapp-float:hover {
    background-color: #1ebe5d;
    /* hijau gelap saat hover */
    color: white;
    /* pastikan ikon tetap putih saat hover */
}

.whatsapp-float i {
    color: white;
    /* pastikan icon juga putih */
}
